<section id="welcomeSection">
  <h1>Loziska</h1>

  <div id="productSearchBackground">
    <div class="productSearch">
      <div id="additionalInfo">
        <hr/>
        <p>Your supplier for service parts.</p>
        <hr/>
        <div>
          <i class="fa fa-phone"></i>
          <span>0495/49q34t90</span>
        </div>
        <div>
          <i class="fa fa-at"></i>
          <span>sdfoij@adsfwe.com</span>
        </div>
      </div>
      <form class="form-inline m-2">
        <input class="form-control mr-2" type="search" placeholder="Search Product" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>

    <div id="welcomeText">
      <h1>Vítáme Vás!</h1>
      <p>Naše společnost Vám nabízí jen ty nejkvalitnější služby v oboru. Neváhejte a využijte našich kvalitních služeb,
        moderních metod. Náš profesionální personál je vám vždy plně k dispozici. Naší předností je neustálé
        zkvalitňování a vylepšování námi nabízených služeb. Důkazem je stále vzrůstající počet spokojených
        zákazníků.</p>
    </div>
  </div>

  <h3>Vaclav Haruda</h3>
</section>
