@import "~src/app/loziska-app-theme";

.plainLinkStyle {
  text-decoration: none !important;
  color: $text-on-primary;
}

.markup {
  &:hover {
    color: $secondary-light !important;
    cursor: pointer;
  }
}

#welcomeSection {
  display: flex;
  height: 100vh;
  background-color: $background-color;
  background-image: url("~src/assets/images/bearing1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  flex-direction: column;
  justify-content:center;

  h1, h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $text-on-background;
    text-shadow: -1px 0 $text-on-primary, 0 1px $text-on-primary, 1px 0 $text-on-primary, 0 -1px $text-on-primary;
  }

  h1 {
    font-size: 6em;
  }

  h3 {
    font-size: 2em;
  }

  .productSearch {
    display: flex;
    flex-direction: column;
    color: $text-on-primary;
    width: 80%;
    max-width: 25em;
    margin: 0.5em auto;
  }

  #welcomeText {
    display: none;
    flex-basis: 30%;
    text-align: justify;
    margin: 1.5em;
    max-width: 25em;
    color: $text-on-primary;

    h1 {
      color: $text-on-primary;
      font-size: 2em;
      margin: 0.5em;
    }
  }
}

.form-control {
  flex: 1;

  &:focus {
    outline: none !important;
    border:3px solid $secondary;
    box-shadow: 0 0 10px $secondary-light;
  }
}

.btn-success {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;

  &:hover, &:focus, &:active, &.active {
    border-color: $secondary-dark !important;
    background-color: $secondary-dark !important;

  }

  &:active, &.active, &:visited, &:focus {
    -webkit-box-shadow:  0 0 0 2px rgba(mix($secondary-dark, darken($secondary-dark, .4), 15%), .5) !important;
    -moz-box-shadow: 0 0 0 2px rgba(mix($secondary-dark, darken($secondary-dark, .4), 15%), .5) !important;
    box-shadow: 0 0 0 2px rgba(mix($secondary-dark, darken($secondary-dark, .4), 15%), .5) !important;
  }
}

#additionalInfo {
  display: none;

  p {
    font-style: italic;
  }

  div {
    text-align: left;
    margin: 0.1em 0.1em 0.1em 2em;
  }

  .fa {
    margin-right: 0.4em;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #additionalInfo {
    display: inline-block;
    text-align: center;
    margin: 0.5em;
    font-weight: bold;

    hr {
      border-color: $secondary;
    }
  }

  #welcomeSection .productSearch {
    margin: 1em;

    .form-inline {
      max-width: 30em;
    }
  }

  #productSearchBackground {
    display: flex;
    justify-content: center;
    background-color: rgba($primary-light, 0.3);
  }

}

@media (min-width: 1200px) {

  #welcomeSection {

    .productSearch {
      justify-content: center;
      margin: 1.5em;
    }

    #welcomeText {
      display: inline-block;
    }
  }

}
