<section id="welcomeSection">
  <h1>{{"welcome.title" | translation | async}}</h1>

  <div id="productSearchBackground">
    <div class="productSearch">
      <div id="additionalInfo">
        <hr/>
        <p>{{"welcome.supplier-head" | translation | async}}</p>
        <hr/>
        <div>
          <i class="fa fa-phone"></i>
          <span>{{"general.phone-number" | translation | async}}</span>
        </div>
        <div>
          <i class="fa fa-at"></i>
          <span>{{"general.email-address" | translation | async}}</span>
        </div>
      </div>
      <form class="form-inline m-2">
        <input class="form-control mr-2" type="search" placeholder="{{'general.search-product' | translation | async}}" aria-label="Search"
               [ngModelOptions]="{standalone: true}" [(ngModel)]="search.searchTermSubject.value" (input)="search.change($event.srcElement.value)">
        <button class="btn btn-success" type="submit" (click)="search.trigger()">{{"general.search" | translation | async}}</button>
      </form>
    </div>

    <div id="welcomeText">
      <h1>{{"welcome.headline" | translation | async}}</h1>
      <p>{{"welcome.introduction" | translation | async}}</p>
    </div>
  </div>

  <h3>{{"welcome.subtitle" | translation | async}}</h3>
</section>
