
#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6.5em;
}

#ourStockSection {
  display: flex;
  background-color: rgba(244, 95, 66, 0.1);
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.openSearchbar {
  width: 14em;
}

.visibleInput {
  display: inline-block;
}

#productDropdown {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-content: center;

  #button-basic {
    background-color: #ff8080;
    white-space:nowrap;
    overflow: hidden;

    i {
      font-size: 1.4em;
      margin: 0.1em;
    }

    span {
      align-self: center;
      font-size: 1.3em;
    }
  }

  #fastFilter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0.5em;
    border-radius: 5px;
    border-style: solid;
    width: 3em;
    min-width: 3em;
    max-width: 14em;

    transition-timing-function: linear;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    overflow: hidden;

    i {
      width: 1em;
      font-size: 2.2em;
      margin: 0.1em;
    }

    input {
      flex: 1;
      display: none;
      margin: 0 0.5em;
      height: 90%;
    }

    //&:hover, &:focus {
    //  width: 14em;
    //
    //  input {
    //    display: inline-block;
    //  }
    //}
  }
}

#dropdown-basic {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 70vh;

  li {
    margin: 0.2em 0;
  }
}

.dropdown-item {
  cursor: pointer;

  .productItem {
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      i {
        font-size: 3em;
      }
    }

    .productInfo {
      h3 {
        text-align: center;
      }

      span {
        flex: 1;
        display: block;
        white-space: normal;
        -ms-word-wrap: break-spaces;
        word-wrap: break-spaces;
        margin: 0 0 0 0.7em;
        text-align: justify;
      }
    }
  }
}

.filterOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.4em;

  .option {
    display: flex;
    margin: 0.5em 0.5em 0;

    span {
      display: inline-block;
      margin: 0.1em 0.4em;
      white-space: nowrap;
    }
  }
}

#dataTable {
  width: 95%;
  margin: 0 auto;
  flex: 1;
  margin-bottom: 0.8em;
}
