<section id="ourStockSection">
  <img id="backgroundImg1" src="/assets/images/FloatingBackground-Bearing1.png" />

  <div id="container">
    <div id="productDropdown" class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-lg dropdown-toggle"
              aria-controls="dropdown-basic">
        <i class="{{getSelectedProduct().icon}}"></i>
        <span>{{getSelectedProduct().name | translation | async}}</span>
        <span class="caret"></span>
      </button>

      <div id="fastFilter" [class.openSearchbar]="search.searchTermSubject.value !== '' || searchBar.focused || searchBar.hovered"
           (mouseenter)="searchBar.hovered = true" (mouseleave)="searchBar.hovered = false">
        <input id="filter" class="form-control" type="search"
               placeholder="{{'general.search-product' | translation | async}}" aria-label="Search"
               [class.visibleInput]="search.searchTermSubject.value !== '' || searchBar.focused || searchBar.hovered"
               (input)="search.change($event.srcElement.value)"
               [(ngModel)]="search.searchTermSubject.value"
               (focus)="searchBar.focused = true" (blur)="searchBar.focused = false"/>
        <i class="fa fa-search"></i>
      </div>

      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">

        <li role="menuitem" *ngFor="let product of getAvailableProducts()">
          <a class="dropdown-item" (click)="changeProduct(product)">
            <div class="productItem">
              <div>
                <i class="{{product.icon}}"></i>
              </div>
              <div class="productInfo">
                <h3>{{product.name | translation | async}}</h3>
                <span>
                {{product.text | translation | async}}
              </span>
              </div>
            </div>
          </a>
        </li>

      </ul>

      <div id="sideMenu" class="list-group">
        <button *ngFor="let product of getAvailableProducts()" class="list-group-item list-group-item-action"
                [class.active]="getSelectedProduct().name === product.name" (click)="changeProduct(product)">
          <i class="{{product.icon}} mr-3"></i>
          <span>{{product.name | translation | async}}</span>
          <span class="badge badge-primary">{{product.numData}}</span>

          <div *ngIf="product.subproducts" class="collapse mt-3" [collapse]="isCollapsed(product)">
            <button *ngFor="let subproduct of product.subproducts" class="list-group-item list-group-item-action"
                    [class.active]="getSelectedProduct().name === subproduct.name"
                    (click)="changeProduct(subproduct); $event.stopPropagation()">
              <i class="{{subproduct.icon}} mr-3"></i>
              <span>{{subproduct.name | translation | async}}</span>
              <span class="badge badge-primary">{{subproduct.numData}}</span>
            </button>
          </div>

        </button>
        <hr/>
        <span>{{getSelectedProduct().text | translation | async}}</span>
      </div>

    </div>
  </div>

  <ag-grid-angular
    id="dataTable"
    class="ag-theme-balham"
    [rowData]="getSelectedProduct().gridData"
    [columnDefs]="getSelectedProduct().columnDefs | objTranslation | async"
    [gridOptions]="gridOptions"
  >
  </ag-grid-angular>

</section>
