
#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6.5em;
}

#ourStockSection {
  display: flex;
  background-color: rgba(244, 95, 66, 0.1);
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#productDropdown {
  width: 90%;
  margin: 0 auto;
}

#dropdown-basic {
  width: 100%;

  li {
    margin: 0.2em 0;
  }
}

.dropdown-item {
  cursor: pointer;

  .productItem {
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      i {
        font-size: 3em;
      }
    }

    span {
      flex: 1;
      display: block;
      white-space: normal;
      -ms-word-wrap: break-spaces;
      word-wrap: break-spaces;
      margin: 0 0 0 0.7em;
      text-align: justify;
    }
  }
}

#button-basic {

  i {
    font-size: 1.4em;
    margin: 0.1em;
  }

  span {
    align-self: center;
    font-size: 1.3em;
  }
}

.filterOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.4em;

  .option {
    display: flex;
    margin: 0.5em 0.5em 0;

    span {
      display: inline-block;
      margin: 0.1em 0.4em;
      white-space: nowrap;
    }

  }
}

.dataTable {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  margin-bottom: 0.8em;
}
