<section id="ourStoreSection">

  <div id="openingTimes">
    <hr/>
    <h2>{{"store.opening-times" | translation | async}}</h2>
    <hr/>
  </div>

  <div id="layout">
    <div id="welcomeText">
      <h1>{{"store.headline" | translation | async}}</h1>
      <p>{{"store.introduction" | translation | async}}</p>
      <p id="address">{{"general.address" | translation | async}}</p>
    </div>

    <div id="googleMaps">
      <h3>{{"store.location-pretext" | translation | async}}</h3>
      <agm-map id="map" [latitude]="49.143537" [longitude]="15.025678" [zoom]="18">
        <agm-marker [latitude]="49.143537" [longitude]="15.025678"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div id="dummy">H</div>
</section>
