<section id="ourStoreSection">

  <div id="openingTimes">
    <hr/>
    <h2>{{"store.opening-times" | translation | async}}</h2>
    <hr/>
  </div>

  <div id="layout">
    <div id="welcomeText">
      <h1>{{"store.headline" | translation | async}}</h1>
      <p>{{"store.introduction" | translation | async}}</p>
      <p id="address">{{"general.address" | translation | async}}</p>
    </div>

    <div id="googleMaps">
      <h3>{{"store.location-pretext" | translation | async}}</h3>
      <iframe id="map" frameborder="0" style="border:0;" allowfullscreen=""
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3194.827075424341!2d15.02473114524592!3d49.14288996723584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470cd1c40bf18995%3A0xb273786fbd1bfb64!2zT3TDrW4gMjUy!5e0!3m2!1sen!2sdk!4v1572897016060!5m2!1sen!2sdk&key=AIzaSyB4oje2favlvJj4V4djVlsaLGYZejbIlSw">
      </iframe>
    </div>
  </div>
  <div id="dummy">H</div>
</section>
