@import "~src/app/loziska-app-theme";

#backgroundImg1 {
  display: none;
  z-index: 0;
}

#ourStoreSection {
  display: flex;
  background-color: $background-color;
  flex-direction: column;
  justify-content:center;
  width: 100%;
}

#ourStoreSection #openingTimes {
  display: flex;
  flex-direction: column;
  margin: 7.5rem auto 1em;
  max-width: 1000px;
  width: 80%;
}

#ourStoreSection #openingTimes h2 {
  text-align: center;
}

#ourStoreSection #openingTimes hr {
  width: 100%;
}

#layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

#ourStoreSection #welcomeText {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  text-align: justify;

  & > p {
    background: rgba(white, 0.7);
  }
}

#ourStoreSection #welcomeText h1 {
  display: inline-block;
  margin: 0 .3em;
  float: left;
}


#ourStoreSection #welcomeText #address {
  margin: 2em auto;
  font-weight: bold;
  font-size: 1.2em;
}

#ourStoreSection #googleMaps {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 80%;
}

#ourStoreSection #googleMaps #map {
  margin: 0 auto;
  height: 500px;
  width: 100%;
  background-color: $secondary-light;
}

#dummy {
  color: rgba(0, 0, 0, 0);
}


@media (min-width: 992px) {

  #layout {
    flex-direction: row;
    margin-top: 1em;
    flex: 1;
    max-width: 1100px;
  }

  #ourStoreSection #welcomeText {
    margin: 0 1.5em;
    width: 30%;
    text-align: justify;
    max-width: 20em;
  }

  #ourStoreSection #welcomeText h1 {
    display: block;
    margin: 0 0 1em 0;
    text-align: center;
    width: 100%;
  }

  #ourStoreSection #googleMaps {
    margin: 0 1.5em 2em 3em;
    flex: 1;
  }

  #ourStoreSection #googleMaps #map {
    height: 100%;
  }

  #ourStoreSection {
    height: 100vh;
    position: absolute;
    top: 0;
  }

  #dummy {
    display: none;
  }

}


@media (min-width: 1200px) {
  #backgroundImg1 {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
  }
}
