@import "~src/app/loziska-app-theme";

#navigationBarDiv {

  .navbar {
    background-color: $primary;
    color: $text-on-primary;

    .navbar-logo {
      height: 3em;
      width: 4em;
    }

    #languageSelector {
      margin: 0 1em 0 auto;
    }
  }

  #subNavigation {
    display: none;
  }
}

.bearing {
  color: #e99a52;
  outline-color: #e99a52;
  background-color: #e99a52;

}

.plainLinkStyle {
  text-decoration: none !important;
  color: $text-on-primary;
}

.markup {
  &:hover {
    color: $secondary-light !important;
    cursor: pointer;
  }
}

.active-page {
  color: $secondary !important;
  text-shadow: -1px 0 $secondary-light, 0 1px $secondary-light, 1px 0 $secondary-light, 0 -1px $secondary-light;
}

.form-control {
  flex: 1;

  &:focus {
    outline: none !important;
    border: 3px solid $secondary;
    box-shadow: 0 0 10px $secondary-light;
  }
}

.custom-toggler.navbar-toggler {
  border-color: $secondary !important;

  &:focus {
    outline: none !important;
  }

  &.open {
    outline: none !important;
    border: 3px solid $secondary;
    box-shadow: 0 0 10px $secondary-light;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#e99a52' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-success {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;

  &:hover, &:focus, &:active, &.active {
    border-color: $secondary-dark !important;
    background-color: $secondary-dark !important;
  }

  &:active, &.active, &:visited, &:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(mix($secondary-dark, darken($secondary-dark, .4), 15%), .5) !important;
    -moz-box-shadow: 0 0 0 2px rgba(mix($secondary-dark, darken($secondary-dark, .4), 15%), .5) !important;
    box-shadow: 0 0 0 2px rgba(mix($secondary-dark, darken($secondary-dark, .4), 15%), .5) !important;
  }
}

#menuItems {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

#menuItems a {
  text-decoration: none;
  color: $text-on-primary;
}

#menuItems li {
  text-align: center;
  flex-basis: 45%;
  border: 1px solid $text-on-primary;
  margin: 0.3em 0;

  a:hover {
    color: $secondary;
  }
}

#navbarSupportedContent {
  display: none;
  width: 100%;
  margin-top: 0.5em;

  & > .form-inline {
    width: 100%;
    flex-wrap: nowrap;
  }
}

.nav-item {
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
}

#navbarSupportedContent #contactInformation {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.2em;

  & > a {
    & > div {
      display: inline-flex;
      flex-basis: 50%;
      text-align: center;
      padding: 1.5em 1em 0.5em 1em;

      & > i {
        font-size: 2em;
        margin-right: 0.3em;
      }

      & > span {
        white-space: nowrap;
      }
    }
  }
}

#contactInformationBelow {
  display: none;
}

.form-control {
  flex: 1;
}

@media (min-width: 992px) {

  #navigationBarDiv {

    #subNavigation {
      display: flex;
      background-color: rgba($primary, 0.5);
      justify-content: flex-end;
      padding: 0.2em;

      #contactInformationSubBar {
        display: flex;
        margin-top: 0;
        justify-content: flex-end;
        width: auto;

        & > a {

          & > div {
            display: inline-flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            align-items: center;
            justify-content: center;
            color: $text-on-primary;

            & > i {
              margin-left: 2em;
            }

            & > span {
              vertical-align: middle;
              margin: 0 .3em;
              font-size: 1.2em;
            }
          }
        }
      }

      #languageSelectorSubBar {
        display: flex;
      }
    }
  }

  #languageSelector {
    display: none;
  }

  #menuItems {
    margin-left: 1em;
    flex-wrap: nowrap;
    justify-content: flex-start;
    //background-color: rgba(255, 255, 255, 0);
    width: auto;
  }

  #menuItems li {
    margin: 0 0.5em;
    border-width: 0;
    flex-basis: auto;
    font-size: 1.5em;
  }

  #navbarSupportedContent > .form-inline {
    display: flex;
    max-width: 12em;
    justify-content: flex-end;
  }

  .nav-item {
    font-size: 1.1em;
    font-weight: bold;
  }

  #navbarSupportedContent #contactInformation {
    display: none;
    margin-top: 0;
    justify-content: flex-end;
    width: auto;

    & > a {
      & > div {
        display: inline-flex;
        flex-direction: row;
        padding: 0;
        justify-content: center;

        & > span {
          line-height: 2em;
          vertical-align: middle;
          margin: 0 .3em;
        }
      }
    }
  }

  #navbarSupportedContent > .form-inline {
    max-width: 20em;
  }
}


@media (max-width: 767px) {

  .plainLinkStyle {
    width: 80%;
  }

  .markup {
    text-align: left;
    padding: 0.5em 1em !important;
  }

}
