<div *ngIf="type === 'dropdown'" id="languageDropdown" class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-lg dropdown-toggle"
          aria-controls="dropdown-basic">
    <img class="language-icon-main" src="{{'assets/images/' + getActiveLanguage().short + '.png'}}"/>
  </button>

  <div id="dropdown-bar" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <span *ngFor="let language of languages">
      <img class="language-icon-mobile" src="{{'assets/images/' + language.short + '.png'}}"
           (click)="changeLanguage(language)"/>
    </span>
  </div>
</div>

<div *ngIf="type !== 'dropdown'" id="languageBox">
  <ul id="flagList">
    <li class="box-item" *ngFor="let language of languages">
      <img class="language-icon" src="{{'assets/images/' + language.short + '.png'}}" (click)="changeLanguage(language)"
           [class.active]="getActiveLanguage().short === language.short"/>
    </li>
  </ul>
</div>
