<div id="productDropdown" class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-lg dropdown-toggle"
          aria-controls="dropdown-basic">
    <i class="fa fa-ambulance"></i>
    <span>"Sprache"</span>
    <span class="caret"></span>
  </button>

  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">

    <li role="menuitem">
      Deutsch
    </li>
    <li role="menuitem">
      Englisch
    </li>
    <li role="menuitem">
      Tschechisch
    </li>

  </ul>
</div>
