/*
  Color Palette:
*/

$primary: #3b3840;
$primary-light: #65626b;
$primary-dark: #65626b;

$secondary: #e99a52;
$secondary-light: #ffcb80;
$secondary-dark: #b36c25;

$text-on-primary: #ffffff;
$text-on-secondary: #000000;
$text-on-background: #000000;

$background-color: #ffffff;
